<main>
    <section class="todo-list" *ngFor="let record of news">
        <div class="todo-item" *ngFor="let n of record">
            <span>{{ n.id }}</span>
            <span>{{ n.title }}</span>
            <span>{{ n.description }}</span>
            <span>{{ n.isapproved }}</span>
        </div>
    </section>
</main>